/* Basic Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assicura che il corpo occupi almeno l'altezza della finestra */
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

main {
    flex: 1; /* Fa sì che il main prenda tutto lo spazio disponibile */
}

/* header e menù */

header {
    background-color: #f8f8f8;
    padding: 15px;
    position: sticky; /* Rende il menu sticky */
    top: 0; /* Posiziona il menu all'inizio della pagina */
    z-index: 1000; /* Assicura che il menu si sovrapponga agli altri contenuti */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra per differenziarlo dal contenuto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge l'ombreggiatura */
    border-radius: 8px; /* Opzionale: arrotonda gli angoli */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #5593C9;
    color: #fff;
    border-radius: 5px;
}





/* footer */
footer {
    padding: 5px 40px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: auto;
    z-index: 1000;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    vertical-align: middle;
    margin-left: 5px;
    max-height: 30px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}
