/* Basic Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assicura che il corpo occupi almeno l'altezza della finestra */
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

main {
    flex: 1; /* Fa sì che il main prenda tutto lo spazio disponibile */
}

/* header e menù */

header {
    background-color: #f8f8f8;
    padding: 15px;
    position: sticky; /* Rende il menu sticky */
    top: 0; /* Posiziona il menu all'inizio della pagina */
    z-index: 1000; /* Assicura che il menu si sovrapponga agli altri contenuti */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra per differenziarlo dal contenuto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge l'ombreggiatura */
    border-radius: 8px; /* Opzionale: arrotonda gli angoli */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #5593C9;
    color: #fff;
    border-radius: 5px;
}

/* Stile per il bottone "Torna su" */
.btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none; /* Nasconde il bottone finché non si scorre la pagina */
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  
}

.btn-back-to-top:hover {
    background-color: #5593C9; /* Cambia il colore di sfondo al passaggio del mouse */
}

.btn-back-to-top.show {
    display: block; /* Mostra il bottone quando si scrolla giù */
}


/* Stile per la prima nuova sezione */

/* Contenitore per il testo */
#intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Allinea il contenuto verticalmente al centro */
    padding: 20px;
    margin-left: 120px; /* Margine a sinistra per il testo */
    min-height: 600px !important;

}

#intro-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 400;
}

#intro-section .highlight {
    color: #5593C9; /* Colore blu per "RICERCA" */
    font-weight: 700; /* Grassetto solo per la parte "RICERCA" */
}

#intro-section h2 span:not(.highlight) {
    color: #333; /* Colore nero per il resto del titolo */
    font-weight: 400; /* Regular per "gli antiquari" */
}


#intro-section p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    max-width: 480px;
}

.text-container {
    flex: 1;
}

/* Stile per il bottone nella sezione #intro-section */


#search {
    padding: 120px 60px 80px 60px;
    background-color: #f8f8f8;
    min-height: 500px;
}


.search-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; /* Imposta la larghezza del contenitore */
}

.search-bar-container input[type="text"] {
    padding: 12px 24px; /* Aumenta il padding per rendere la barra più alta */
    width: 100%; /* Imposta la larghezza al 100% del contenitore */
    max-width: 500px; /* Aumenta la larghezza massima */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 120%; /* Aumenta la dimensione del font */
    box-sizing: border-box; /* Assicura che padding e bordi siano inclusi nella larghezza */
    margin-top: 40px;
}

.search-bar-container button {
    padding: 12px 24px; /* Aumenta l'altezza del bottone per essere uguale alla barra di ricerca */
    font-size: 120%; /* Aumenta la dimensione del font per il bottone */
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 40px;
}


#search-button:hover {
    background-color: #5593C9;
}

#search h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #5593C9;
    font-weight: 700;
    text-align: left;
    margin-left: 80px;
}

#search p {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-left: 80px;
    max-width: 500px;
}

#search-results {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#search-results div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Stile base per la dissolvenza */
.fade-in {
    opacity: 0;
    transform: translateY(20px); /* Sposta leggermente il contenuto verso il basso */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transizione per opacità e posizione */
}

/* Quando l'elemento è visibile, applica la dissolvenza */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0); /* Riporta il contenuto alla posizione originale */
}


/*stile per l'svg*/

.svg-container {
    flex-shrink: 0; /* Impedisce all'SVG di ridursi */
    max-width: 800px; /* Limita la larghezza massima dell'SVG */
    margin-right: 260px;
}

.chemin {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    -webkit-animation: dash 3s linear alternate 1 forwards;
  }
  
  @-webkit-keyframes dash {
    from {
      stroke-dashoffset: 2000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

/* Stile per la seconda sezione "Tutti gli antiquari" */
#Titolo {
    background-color: #f9f9f9; /* Colore di sfondo grigio chiaro */
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /*Aggiunge un'ombra sottile */
    padding: 20px; /* Aggiunge padding per il contenuto interno */
    margin: 0 0; /* Spazio sopra e sotto la sezione */
}

#Titolo h2 {
    font-size: 36px;
    color: #333;
    margin-left: 140px; /* Aggiunge un margine a sinistra */
    margin-bottom: 5px;
}

#Titolo .highlight-bold {
    color: #5593C9; /* Colore blu */
    font-weight: 700; /* Grassetto */
}

#Titolo .regular-text {
    color: #333; /* Colore nero */
    font-weight: 400; /* Regular */
}


#Titolo .regular-text {
    font-weight: 400; /* Regular */
    color: #333;
}

#Titolo .bold-text {
    font-weight: 700; /* Grassetto */
    color: #333;
}

/* Stile di base per i link "nome" e "luogo" */
#Titolo p {
    text-decoration: none;
    font-size: 18px;
    margin-left: 140px; /* Aggiunge un margine a sinistra */
    margin-top: 10px;
}

#Titolo a {
    color: #333; /* Colore iniziale del testo */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Transizione morbida per colore e sottolineatura */
}

/* Stile al passaggio del mouse */
#Titolo a:hover {
    color: #f58300c4;
    text-decoration: underline;
    text-underline-offset: 4px; /* Distanza tra il testo e la sottolineatura */
}



/* Stile per le card */

#cards-section {
    text-align: center;
    background-color: #fff; /* Colore di sfondo leggero */
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap; /* Permette alle card di andare a capo */
    justify-content: space-between; /* Distribuisce uniformemente lo spazio tra le card */
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px; /* Spazio tra le card */
}

.letter {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 4px; /* Spessore delle linee */
    text-underline-offset: 8px;
    margin: 0 auto 40px auto; /* Spazio sopra e sotto la lettera e centra il contenitore */
    color: #333; /* Colore del testo */
    display: block; /* Assicura che l'elemento si comporti come un blocco */
    width: fit-content; /* Adatta la larghezza al contenuto */
}


.card-container {
    display: flex;
    flex-wrap: wrap; /* Permette alle card di andare a capo */
    justify-content: flex-start; /* Allinea le card all'inizio della riga */
    gap: 20px; /* Spazio tra le card */
    width: 100%; /* Assicura che il contenitore delle card riempia la riga */
}

.card-container .card {
    /*width: calc(33.33% - 20px); / 3 card per riga, considerando lo spazio tra le card */
    width: 380px;
    height: 450px; /* Altezza fissa per tutte le card */
    background-color: #f9f9f9;
    border-radius: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; /* Spazio sotto ogni card */
}

.card-container .card img {
    width: 100%;
    height: 70%; /* Imposta l'altezza dell'immagine in base all'altezza della card */
    object-fit: cover; /* L'immagine mantiene le sue proporzioni e si ritaglia se necessario */
    object-position: center; /* L'immagine è centrata all'interno del contenitore */
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card-container .card-text {
    padding: 10px;
    height: 30%; /* Imposta l'altezza del testo in base all'altezza della card */
    overflow: hidden; /* Evita che il testo ecceda il contenitore */
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #333;
}

.card-text h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
}

.card-text p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: #666;
    text-align: left;
    text-decoration: none;
}

.card-container a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Mantiene il colore del testo ereditato */
}

.card:hover img {
    transform: scale(1.05); /* Ingrandisce leggermente l'immagine al mouse over */
    filter: brightness(0.8); /* Scurisce leggermente l'immagine per un effetto visivo migliore */
}

.card:hover {
    background-color: #5593C9; /* Colore blu al mouse over */
    color: #fff; /* Cambia il colore del testo al bianco per contrasto */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra per dare un effetto di sollevamento */
}

.card-text h3, .card-text p {
    transition: color 0.3s ease; /* Transizione per il cambiamento di colore del testo */
}

.card:hover .card-text h3,
.card:hover .card-text p {
    color: #fff; /* Cambia il colore del testo al bianco al mouse over */
}

/*barra di ricerca*/
.bold-text {
    font-weight: bold;
}

.normal-text {
    font-weight: normal;
    /* Non in grassetto */
    color: #000;
    /* Colore nero */
}

/* Classe per la dissolvenza in entrata */
.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}


/* footer */
footer {
    padding: 5px 40px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: auto;
    z-index: 1000;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    vertical-align: middle;
    margin-left: 5px;
    max-height: 30px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

