/* Basic Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assicura che il corpo occupi almeno l'altezza della finestra */
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

main {
    flex: 1; /* Fa sì che il main prenda tutto lo spazio disponibile */
}

/* header e menù */

header {
    background-color: #f8f8f8;
    padding: 15px;
    position: sticky; /* Rende il menu sticky */
    top: 0; /* Posiziona il menu all'inizio della pagina */
    z-index: 1000; /* Assicura che il menu si sovrapponga agli altri contenuti */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra per differenziarlo dal contenuto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge l'ombreggiatura */
    border-radius: 8px; /* Opzionale: arrotonda gli angoli */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #5593C9;
    color: #fff;
    border-radius: 5px;
}



/* Stile per la sezione Timeline Scorrevole */
.scrollable-timeline {
    background-color: #fff;
    text-align: center;
}

/* Titolo della sezione */
.section-title {
    font-size: 32px;
    font-weight: normal;
    color: #333;
    text-align: left;
    margin-left: 120px;
    padding-top: 20px;
    margin-bottom: 30px;
}



/* Contenitore della timeline */
.timeline-container {
    overflow-x: hidden; /* Nascondi la barra di scorrimento */
    white-space: nowrap;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Pulsanti di navigazione tondi */
.nav-button {
    background-color: #333;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 50%; /* Rende i pulsanti tondi */
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -65px;
}

.nav-button:hover {
    background-color: #737373;
}

.nav-button:focus {
    outline: none;
}

/* Sfondo grigio chiaro solo per la timeline */
.timeline {
    /*background-color: #e0e0e0;*/
    border-radius: 10px;
    padding: 20px 0;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

/* Estendi la timeline fino alla fine */
.timeline ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    align-items: center;
    width: 100%; /* Assicurati che la timeline copra l'intera larghezza */
    margin-top: 20px;
}

/* Linea orizzontale */
.timeline ul::before {
    content: '';
    position: absolute;
    top: -21px; /* Posiziona la linea orizzontale sopra le righe verticali */
    left: 0;
    right: 0;
    height: 3px;
    background-color: #333;
    z-index: 0;
    width: 9000px;
}

/* Stile per i piccoli separatori */
.timeline ul li.small {
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-right: 50px; /* Spaziatura tra le righe */
    color: #9b9b9b;
    margin-top: -21px;
    margin-bottom: 10px;
}

/* Linea per i piccoli separatori */
.timeline ul li.small::before {
    content: '';
    position: absolute;
    top: -15px; /* Posiziona sopra la linea orizzontale */
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color: #9b9b9b;;
}

/* Stile per gli elementi .soloLinea */
.soloLinea {
    display: block; /* Assicura che lo span sia trattato come un blocco */
    margin-top: 25px; /* Imposta il margine superiore desiderato */
}



/* Stile per i grandi separatori (decine) */
.timeline ul li.big {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    margin-right: 50px; /* Spaziatura tra le righe */
    color: #333;
 
}

/* Linea più grande per i separatori delle decine */
.timeline ul li.big::before {
    content: '';
    position: absolute;
    top: -20px; /* Posiziona sopra la linea orizzontale */
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: #333;
}

/* Punto che indica un evento */
.event-point {
    display: inline-block;
    width: 20px;  /* Larghezza del cerchio */
    height: 20px; /* Altezza del cerchio */
    border-radius: 50%; /* Trasforma il quadrato in cerchio */
    top: -25px; /* Posiziona il punto sotto la linea */
    border: 1px solid #333; /* Bordo nero di 2px */
    position: absolute;
    cursor: pointer;
    background-color: #ccc; /* Colore base */
}


/* Disposizione orizzontale del primo punto evento */
.event-point:nth-of-type(1) {
    left: 35%; /* Sposta il primo punto leggermente a sinistra rispetto al centro */
    transform: translateX(-50%);
}

/* Disposizione orizzontale del secondo punto evento */
.event-point:nth-of-type(2) {
    left: 65%; /* Sposta il secondo punto leggermente a destra rispetto al centro */
    transform: translateX(-50%);
}

/* Colori per le categorie */
.event-point.category-1.active  {
    background-color: #5593C9; /* Colore per la categoria 1 */
}

.event-point.category-2.active  {
    background-color: #358d35; /* Colore per la categoria 2 */
}

.event-point.category-3.active {
    background-color: #d8cf1b; /* Colore per la categoria 3 */
}

.event-point.category-4.active {
    background-color: #f09400; /* Colore per la categoria 4 */
}

.event-point.category-5.active  {
    background-color: #783788; /* Colore per la categoria 5 */
}

.event-point.category-6.active {
    background-color: #398a83; /* Colore per la categoria 6 */
}

/*card*/
/* Contenitore del carosello */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    padding-left: 0; /* Rimuovi il padding */
    margin-left: calc(650vw - 200px); /* Centra la prima card: 50% della finestra meno metà della larghezza della card */
    padding-right: 50px; /* Mantieni il margine destro per l'ultima card */
    box-sizing: content-box;
}


/* Card del carosello */
.carousel-card {
    width: 400px;
    height: 250px;
    margin: 0 20px; /* Aggiungi un margine tra le card per separarle meglio */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    opacity: 0.3; /* Le card non attive sono meno opache */
}

.carousel-card.active {
    opacity: 1;
    border: 1px solid #333; /* Card attiva più evidenziata */
    transform: scale(1.05); /* Aumenta leggermente la dimensione della card attiva */
}



/* Stile del titolo della card */
.card-title {
    background-color: #333; /* Colore per la categoria attiva (cambierà in base alla categoria) */
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 0 0;
    text-align: left;
}

/* Stile del contenuto della card */
.card-content {
    padding: 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    color: #333;
    text-align: left;
}

.card-content a {
    text-decoration: underline;
    font-weight: bold;
    color: #5593C9;
}

/* Stili per le categorie */

.carousel-card.category-1.active .card-title {
    background-color: #5593C9; /* Colore per la categoria 1 */
}

.carousel-card.category-2.active .card-title {
    background-color: #358d35; /* Colore per la categoria 2 */
}

.carousel-card.category-3.active .card-title {
    background-color: #d8cf1b; /* Colore per la categoria 3 */
}

.carousel-card.category-4.active .card-title {
    background-color: #f09400; /* Colore per la categoria 4 */
}
.carousel-card.category-5.active .card-title {
    background-color:#783788; /* Colore per la categoria 5 */
}

.carousel-card.category-6.active .card-title {
    background-color: #398a83; /* Colore per la categoria 6 */
}

/*Legenda*/

.legend-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px; /* Spazio tra ogni elemento della legenda */
    margin-bottom: 30px; /* Spazio sotto la legenda */
    padding-left: 120px; /* Allinea la legenda a sinistra come il titolo */
    padding-bottom: 40px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px; /* Spazio tra il cerchio e l'etichetta */
}

.legend-label {
    font-size: 16px;
    color: #333;
}


/* footer */
footer {
    padding: 5px 40px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: auto;
    z-index: 1000;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    vertical-align: middle;
    margin-left: 5px;
    max-height: 30px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}
