/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    position: sticky;
    /* Rende il menu sticky */
    top: 0;
    /* Posiziona il menu all'inizio della pagina */
    z-index: 1000;
    /* Assicura che il menu si sovrapponga agli altri contenuti */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Aggiunge un'ombra per differenziarlo dal contenuto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Aggiunge l'ombreggiatura */
    border-radius: 8px;
    /* Opzionale: arrotonda gli angoli */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #5593C9;
    color: #fff;
    border-radius: 5px;
}

#hero {
    background-image: url('img/homepage/hero-image.PNG');
    /* Sostituisci con il percorso dell'immagine */
    background-size: cover;
    /* Assicura che l'immagine copra l'intera area */
    background-position: center;
    /* Centra l'immagine */
    height: 700px;
    /* Altezza della sezione hero */
    display: flex;
    /* Usa flexbox per centrare gli elementi */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra orizzontalmente */
    text-align: center;
    /* Centra il testo */
    flex-direction: column;
    /* Dispone il titolo e il bottone verticalmente */
    color: #ffffff;
    /* Colore del testo */
}

/* Definizione dell'animazione per la dissolvenza */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Applicazione dell'animazione al titolo della sezione hero */
#hero h1 {
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: 700;
    /*font-family: 'Libre Bodoni', serif;*/
    background-color: rgba(73, 30, 30, 0.4);
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
    opacity: 0;
    /* Inizia con un'opacità di 0 per la dissolvenza */
    animation: fadeIn 2.5s ease-in-out forwards;
    /* Animazione di 2 secondi */
}

#hero h2 {
    font-size: 38px;  /* Set the size to 38px */
    font-weight: normal; /* Remove bold */
    margin-top: 10px; /* Adjust the margin if needed */
}

@keyframes typing {
    from { width: 0; }
    to { width: 22ch; } /* Limita la larghezza al numero di caratteri del testo */
  }
  
  @keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: white; }
  }
  
  @keyframes delete {
    from { width: 22ch; }
    to { width: 0; }
  }
  
  @keyframes shadow {
    from {
      text-shadow: none;
    }
    to {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombreggiatura durante la digitazione */
    }
  }
  
  .hero-typewriter {
    overflow: hidden;
    border-right: 2px solid #5593C9; /* Cursore */
    white-space: nowrap;
    display: inline-block;
    width: 0; /* Inizia con larghezza 0 per la digitazione */
    color: #fff; /* Colore del testo blu */
    animation: typing 6s steps(22, end) forwards, 
               shadow 6s steps(22, end) forwards, /* Aggiunta ombreggiatura durante la digitazione */
               blink 0.75s step-end infinite, 
               delete 2s steps(22, end) 8s forwards, 
               typing 6s steps(22, end) 10s forwards;
  }
  
  .hero-typewriter.finished {
    border-right: none; /* Rimuove il cursore dopo la digitazione */
  }
  

.btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    /* Rende il testo in grassetto */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 40px;
    /* Aggiunge spazio tra il titolo e il bottone */
}

.btn:hover {
    background-color: #5593C9;
    /* Cambia lo sfondo al passaggio del mouse */
    color: #fff;
    /* Cambia il colore del testo al passaggio del mouse */
}

/* da qui inziano tutti gli effetti applicati alla sezione search */

#intro-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Allinea gli elementi all'inizio verticalmente */
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: 120px;
    min-height: 550px;
}

.text-container {
    display: flex;
    flex-direction: column; /* Imposta una disposizione a colonna per il testo */
    justify-content: flex-start;
    flex: 1;
}

.text-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
    margin-top: 60px;
}

.text-container p {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    max-width: 480px;
    text-align: left;
}

.search-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; /* Spazio tra il pulsante e la barra di ricerca */
    margin-top: 20px;
}

.search-bar-container input[type="text"] {
    padding: 12px 24px;
    width: 60%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 120%;
}

.search-bar-container button {
    padding: 12px 24px;
    font-size: 120%;
    background-color: #333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: -2px;
    margin-left: -10px;
}

.highlight {
    color: #5593C9; /* Colore azzurro */
    font-weight: 700; /* Grassetto */
}


.svg-container {
    flex-shrink: 0; /* Impedisce all'SVG di ridursi */
    max-width: 400px; /* Limita la larghezza dell'SVG */
    margin-left: 20px; /* Spazio tra la parte di testo e l'SVG */
    margin-right: 100px;
}



/* inizio della sezione successiva */

#statistics {
    display: flex;
    justify-content: space-around;
    padding:  20px;
    background-color: #5593C9;
    color: #fff;
    text-align: center;
    min-height: 250px;
    /* Imposta un'altezza minima maggiore */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Aggiunge l'ombreggiatura */
}

#statistics .stat {
    flex: 1;
}

#statistics h3 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 400;
    /* Inizia con un font regolare */
    transition: all 0.5s ease-in-out;
}

#statistics h3.bold {
    font-weight: 700;
    /* Diventa grassetto dopo l'animazione */
}

#statistics a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    transition: text-decoration 0.3s ease; /* Aggiunge una transizione morbida */
}

#statistics a:hover {
    text-decoration: underline; 
    text-underline-offset: 6px;
    color: #f7a240; 
  }

/* inizio della sezione successiva */

#map {
    display: flex;
    /* Usa flexbox per allineare gli elementi */
    align-items: center;
    /* Centra verticalmente gli elementi */
    justify-content: flex-end;
    /* Allinea il contenuto a destra */
    padding: 40px 20px;
}

#chartdiv {
    width: 100%;
    height: 550px;
    z-index: 100;
}

#map img {
    width: 70%;
    /* L'immagine occupa il 70% della larghezza */
    max-width: 700px;
    /* Limita la larghezza massima dell'immagine */
    margin-right: 20px;
    /* Aggiunge spazio tra l'immagine e il testo */
}

/* Classe per la dissolvenza in entrata */
.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

#map .text-content {
    width: 45%;
    /* Il testo occupa il 45% della larghezza */
    text-align: left;
    /* Allinea il testo a sinistra */
    margin-left: 60px;
    margin-right: 60px;
    opacity: 0;
    /* Inizia nascosto */
    transition: opacity 2s ease-in-out;
    /* Applicazione della dissolvenza */
}

#map .text-content.visible {
    opacity: 1;
    /* Mostra il contenuto quando visibile */
}

#map h2 {
    font-size: 36px;
    margin-bottom: 10px;
    /* Colore nero per il resto del titolo */
    font-weight: 400;
    /* Font regular per il resto del titolo */
    color:#333;
}

#map h2 .bold-text {
    color: #5593C9;
    font-weight: 700;
    /* Grassetto */
}


#map p {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
}

#map .btn {
    margin-top: 60px;
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#map .btn:hover {
    background-color: #5593C9;
    color: #fff;
}


/* inizio della sezione successiva */

#timeline {
    padding: 60px 60px;
    background-color: #f8f8f8;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    /* Aggiunge l'ombreggiatura */
    border-radius: 8px;
    /* Opzionale: arrotonda gli angoli */
}

#timeline h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 80px;
    /* Aggiunge margine a sinistra per allineare */
    text-align: left;
}

#timeline h2 .highlight {
    color: #5593C9;
    font-weight: 700;
}

#timeline h2 .regular-text {
    color: #000;
    font-weight: 400;
}


#timeline .content-wrapper {
    display: flex;
    justify-content: space-between; /* Spazia il paragrafo e il pulsante */
    align-items: center;/* Allinea verticalmente il paragrafo e il pulsante */
    margin-left: 80px;
    margin-right: 80px;
}

#timeline p {
    margin-bottom: 0;
    /* Rimuove il margine inferiore del paragrafo */
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    max-width: 600px;
}

#timeline .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    float: none;
    /* Rimuove il float */
    margin-right: 260px;
}

#timeline .btn:hover {
    background-color: #5593C9;
    color: #fff;
}



/* inizio prova timeline 2 */
#timeline2 {
    display: flex;
    background-color: #5593C9;
    /* #031625; */
    height: 56vh;
    /* Riduce l'altezza della sezione */
    min-height: 370px;
    /* Imposta un'altezza minima per evitare che diventi troppo piccola */
    overflow: hidden;
    /* Nasconde gli elementi che escono fuori dalla sezione */
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 150px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease, height 0.5s ease;

    &:before,
    &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        background: transparentize(#031625, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
        width: 30% !important;

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-content {
            font-size: 18px;
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-bg {
            filter: grayscale(0);
        }
    }
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 20%;
    transform: translateY(-20%);
    opacity: 0;
    text-align: left;

    h1 {
        color: #ffffff;
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 20px;
        margin-top: 40px;
        text-align: left;
    }
}

#timeline2 .tl-year p {
    font-size: 42px;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 1;
    text-decoration-color: #fff;
    text-decoration: underline overline;
    /* Applica sia underline che overline */
    text-decoration-color: #fff;
    /* Colore bianco per le linee */
    text-decoration-thickness: 2px;
    /* Spessore delle linee */
    text-underline-offset: 15px;
    /* Spazio tra il testo e la sottolineatura */
    text-overline-offset: 15px;
    /* Spazio tra il testo e la sovralineatura */
    margin-bottom: 40px;
    /* Aumenta lo spazio tra il numero e il titolo */
    margin-top: 40px;
}

#timeline2 .tl-year p::before {
    content: none;
}

#timeline2 .tl-year {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: none;
    border-bottom: none;
}

.tl-item {
    position: relative;
    width: 25%;
    height: 68vh;
    min-height: 400px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease, height 0.5s ease;
    background-size: cover;
    /* Assicura che l'immagine copra l'intero box */
    background-position: center;
    /* Centra l'immagine */
    background-image: none;
}


.tl-item:hover {
    background-image: url('img/homepage/Canessa.png');
    /* Sostituisci con l'immagine corretta */
}

.tl-item:nth-child(2):hover {
    background-image: url('img/homepage/Bardini.jpg');
    /* Sostituisci con l'immagine corretta */
}

.tl-item:nth-child(3):hover {
    background-image: url('img/homepage/Simonetti.jpg');
    /* Sostituisci con l'immagine corretta */
}

.tl-item:nth-child(4):hover {
    background-image: url('img/homepage/Jandolo.jpg');
    /* Sostituisci con l'immagine corretta */
}

/* fine prova timeline 2 */


/* inizio della sezione parole chiave */

#key-people {
    padding: 80px 70px;
    /* Margini superiori e laterali */
    padding-bottom: 60px;
    background-color: #f8f8f8;
    /* Colore di sfondo grigio chiaro */
    display: flex;
    justify-content: space-between;
    /* Spazia gli elementi a sinistra e a destra */
    align-items: flex-start;
}

#key-people .left-key-content {
    text-align: left;
    /* Allinea il contenuto a sinistra */
    max-width: 550px;
    /* Limita la larghezza del contenuto */
    margin-left: 80px;
    margin-top: 0;
}

#key-people h2 {
    font-size: 36px;
    color: #333;
}

#key-people h2 .highlight {
    color: #5593C9;
    /* Colore blu per la parte evidenziata */
    font-weight: 700;
    /* Grassetto */
}

#key-people h2 .regular-text {
    color: #333;
    /* Colore nero */
    font-weight: 400;
    /* Regular */
}

#key-people p {
    font-size: 24px;
    color: #333;
    margin-bottom: 60px;
    margin-top: 30px;
}


#key-people.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#key-people.fade-in.visible {
    opacity: 1;
}

.link {
    color: #5593C9;
    /* Link color */
    text-decoration: underline;
    /* Underline the text */
    cursor: pointer;
    /* Change cursor to pointer */
}

.link:hover {
    color: #f58300c4;
    /* Darken the color on hover */
}


/* effetto morphing antiquari */

#key-people .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 120px;
}

.word {
    font-family: Playfair Display;
    font-weight: bold;
    max-width: 70%;
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #5593C9, #333);
    /* Gradient from red to blue */
    -webkit-background-clip: text;
    color: transparent;
    webkit-text-fill-color: transparent;
    /* For WebKit-based browsers */
    position: absolute;
    animation: word 20s infinite ease-in-out;
}

.word:nth-child(1) {
    animation-delay: -15s;
}

.word:nth-child(2) {
    animation-delay: -11s;
}

.word:nth-child(3) {
    animation-delay: -7s;
}

.word:nth-child(4) {
    animation-delay: -3s;
}

@keyframes word {

    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    20%,
    80% {
        filter: blur(35);
        opacity: 0;
    }
}



/* inizio della sezione bibliografia SVG  */
#biblio-vettoriale {
    padding: 60px 150px;
    /* Margini superiori e laterali */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Aggiunge l'ombreggiatura */
    border-radius: 8px;
    /* Opzionale: arrotonda gli angoli */
}

.biblio-container {
    display: flex;
    justify-content: space-between;
    /* Spazia le due colonne */
    align-items: center;
    /* Centra verticalmente gli elementi */
}

.biblio-left {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Centra l'elemento SVG */
    align-items: center;
    height: 350px;
}

.biblio-left svg {
    max-height: 65%;
    /* Limita l'altezza dell'SVG per adattarsi alla colonna */
    max-width: 65%;
    /* Assicura che l'SVG si adatti alla larghezza della colonna */
}

.biblio-right {
    flex: 1;
    text-align: left;
    margin-left: auto;
    /* Posiziona la colonna a destra */
    padding-left: 50px;
    /* Aggiunge spazio tra le due colonne */
}

.biblio-right h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.biblio-right h2 .highlight {
    color: #5593C9;
    /* Colore blu */
    font-weight: 700;
    /* Grassetto */
}

.biblio-right h2 .regular-text {
    color: #333;
    /* Colore nero */
    font-weight: 400;
    /* Regular */
    display: inline-block;
    /* Mantiene il testo sulla stessa linea */
}

.biblio-right p {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.biblio-right .btn {
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.biblio-right .btn:hover {
    background-color: #5593C9;
    color: #fff;
}

#biblio-right.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#biblio-right.fade-in.visible {
    opacity: 1;
}

/* footer*/
footer {
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    vertical-align: middle;
    margin-left: 5px;
    max-height: 30px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}